<!DOCTYPE html>

<html>

<head>
    <title>Sistema de Controle de Receitas</title>
</head>

<body>
    <center> 
        <h1> Sistema de Controle de Receitas </h1>
        <a href="/candidatoCreate"> <button> Cadastrar Usu치rio</button> </a> 
        <a href="/candidatoList"> <button> Listar Usu치rios</button> </a>
        <a href="/categoriaCreate"> <button> Cadastrar Categorias</button> </a> 
        <a href="/categoriaList"> <button> Listar Categorias</button> </a>
        <a href="/receitaCreate"> <button> Cadastrar Receitas</button> </a> 
        <a href="/receitaList"> <button> Listar Receitas</button> </a>
        <a href="/comentarioCreate"> <button> Cadastrar Coment치rio</button> </a> 
        <a href="/comentarioList"> <button> Listar Coment치rios</button> </a>
        <br> <br>
        {{{body}}}
    </center>
</body>

</html>
