<center>
    <h1>Sistema de Controle de Vagas</h1>
    <div style="text-align: right; margin: 10px;">
        <span>Bem-vindo, {{user.nome}}!</span> |
        <a href="/logout">Sair</a>
    </div>
    <a href="/candidateCreate"><button>Cadastrar Candidato</button></a>
    <a href="/candidateList"><button>Listar Candidatos</button></a>
    <a href="/companyCreate"><button>Cadastrar Empresa</button></a>
    <a href="/companyList"><button>Listar Empresas</button></a>
    <a href="/recruiterCreate"><button>Cadastrar Recrutador</button></a>
    <a href="/recruiterList"><button>Listar Recrutadores</button></a>
    <a href="/jobVacancyCreate"><button>Cadastrar Vaga</button></a>
    <a href="/jobVacancyList"><button>Listar Vagas</button></a>
    <a href="/applicationCreate"><button>Cadastrar Aplicação</button></a>
    <a href="/applicationList"><button>Listar Aplicações</button></a>
    <a href="/resumeCandidateCreate"><button>Cadastrar Currículo</button></a>
    <a href="/resumeCandidateList"><button>Listar Currículos</button></a>
    <br><br>
</center>